<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="ClickHouse">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage cacheDirectory=".phpunit.cache/code-coverage">
    </coverage>

    <php>
        <const name="phpunit_ch_host" value="localhost"/>
        <const name="phpunit_ch_port" value="8123"/>
        <const name="phpunit_ch_user" value="default"/>
        <const name="phpunit_ch_password" value=""/>
        <const name="phpunit_ch_dbname" value="default"/>
        <const name="phpunit_ch_driver_class" value="FOD\DBALClickHouse\Driver"/>
        <const name="phpunit_ch_wrapper_class" value="FOD\DBALClickHouse\Connection"/>
    </php>
</phpunit>
